.temp{
    width: auto;
    font-size: 0%;
}

.top {
width: 100%;
margin: 1rem auto;
}

.description {
position: relative;
margin: 10% 0;
}

.bottom {
display: flex;
justify-content: space-evenly;
text-align: center;
width: 100%;
margin: 1rem auto;
padding: 1rem;
border-radius: 12px;
background-color: rgba(255,255,255, 0.2);
}

.bold {
font-weight: 700;
}

.info {
padding: 8px;
}

@media screen and (max-width: 400px) {
    .bottom{
        flex-direction: column;
    }
}